<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="uk.co.sundroid"
    android:installLocation="internalOnly">

    <supports-screens
        android:smallScreens="false"
        android:largeScreens="false"
        android:xlargeScreens="false"/>

    <uses-feature
        android:glEsVersion="0x00020000"
        android:required="true" />

    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="false"
        android:label="@string/app_name"
        android:icon="@mipmap/icon"
        android:theme="@style/SundroidDark"
        tools:ignore="GoogleAppIndexingWarning">

        <activity
            android:name="uk.co.sundroid.activity.MainActivity"
            android:label="@string/app_name"
            android:launchMode="singleTask"
            android:finishOnTaskLaunch="true"
            android:screenOrientation="portrait"
            android:configChanges="orientation|keyboardHidden"
            tools:ignore="LockedOrientationActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:screenOrientation="portrait"
            android:name="uk.co.sundroid.activity.location.SearchActivity"
            android:configChanges="orientation|keyboardHidden|screenSize"
            tools:ignore="LockedOrientationActivity" />
        <activity
            android:screenOrientation="portrait"
            android:name="uk.co.sundroid.activity.location.LocationMapFragment"
            android:configChanges="orientation|keyboardHidden|screenSize"
            tools:ignore="LockedOrientationActivity" />
        <activity
            android:screenOrientation="portrait"
            android:name="uk.co.sundroid.activity.location.SavedLocationsActivity"
            android:configChanges="orientation|keyboardHidden"
            tools:ignore="LockedOrientationActivity" />
        <activity
            android:screenOrientation="portrait"
            android:name="uk.co.sundroid.activity.location.TimeZonePickerActivity"
            android:configChanges="orientation|keyboardHidden"
            tools:ignore="LockedOrientationActivity" />
        <activity
            android:screenOrientation="portrait"
            android:name="uk.co.sundroid.activity.settings.AppSettingsActivity"
            android:configChanges="orientation|keyboardHidden"
            tools:ignore="LockedOrientationActivity" />

        <meta-data
            android:name="com.google.android.maps.v2.API_KEY"
            android:value="${GOOGLE_MAPS_API_KEY}" />

    </application>

</manifest>