<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="uk.co.sundroid"
    android:installLocation="internalOnly">

    <supports-screens
        android:smallScreens="false"
        android:largeScreens="false"
        android:xlargeScreens="false"/>

    <uses-feature
        android:glEsVersion="0x00020000"
        android:required="true" />

    <uses-permission android:name="android.permission.ACCESS_BACKGROUND_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="false"
        android:label="@string/app_name"
        android:icon="@mipmap/ic_launcher"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:theme="@style/SundroidDark"
        tools:ignore="GoogleAppIndexingWarning">

        <activity
            android:name=".activity.MainActivity"
            android:label="@string/app_name"
            android:launchMode="singleTask"
            android:finishOnTaskLaunch="true"
            android:screenOrientation="portrait"
            android:configChanges="orientation|keyboardHidden"
            tools:ignore="LockedOrientationActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity
            android:name=".widget.config.MoonPhaseWidgetConfigActivity"
            android:excludeFromRecents="true"
            android:launchMode="singleInstance"
            android:noHistory="true"
            android:process=":widgetProcess"
            android:screenOrientation="portrait"
            tools:ignore="LockedOrientationActivity" />

        <activity
            android:name=".widget.options.MoonPhaseWidgetOptionsActivity"
            android:excludeFromRecents="true"
            android:launchMode="singleInstance"
            android:noHistory="true"
            android:process=":widgetProcess"
            android:theme="@style/SundroidTransparent"/>

        <activity
            android:name=".widget.config.SunWidgetConfigActivity"
            android:excludeFromRecents="true"
            android:launchMode="singleInstance"
            android:noHistory="true"
            android:process=":widgetProcess"
            android:screenOrientation="portrait"
            tools:ignore="LockedOrientationActivity" />

        <activity
            android:name=".widget.options.SunWidgetOptionsActivity"
            android:excludeFromRecents="true"
            android:launchMode="singleInstance"
            android:noHistory="true"
            android:process=":widgetProcess"
            android:theme="@style/SundroidTransparent"/>

        <activity
            android:name=".widget.config.MoonWidgetConfigActivity"
            android:excludeFromRecents="true"
            android:launchMode="singleInstance"
            android:noHistory="true"
            android:process=":widgetProcess"
            android:screenOrientation="portrait"
            tools:ignore="LockedOrientationActivity" />

        <activity
            android:name=".widget.options.MoonWidgetOptionsActivity"
            android:excludeFromRecents="true"
            android:launchMode="singleInstance"
            android:noHistory="true"
            android:process=":widgetProcess"
            android:theme="@style/SundroidTransparent"/>

        <activity
            android:name=".widget.config.SunMoonWidgetConfigActivity"
            android:excludeFromRecents="true"
            android:launchMode="singleInstance"
            android:noHistory="true"
            android:process=":widgetProcess"
            android:screenOrientation="portrait"
            tools:ignore="LockedOrientationActivity" />

        <activity
            android:name=".widget.options.SunMoonWidgetOptionsActivity"
            android:excludeFromRecents="true"
            android:launchMode="singleInstance"
            android:noHistory="true"
            android:process=":widgetProcess"
            android:theme="@style/SundroidTransparent"/>

        <receiver
            android:name=".widget.SunWidget"
            android:label="Sundroid Sun"
            android:process=":widgetProcess">
            <intent-filter>
                <action android:name="android.appwidget.action.APPWIDGET_UPDATE" />
            </intent-filter>

            <meta-data
                android:name="android.appwidget.provider"
                android:resource="@xml/widget_sun" />
        </receiver>
        <receiver
            android:name=".widget.MoonWidget"
            android:label="Sundroid Moon"
            android:process=":widgetProcess">
            <intent-filter>
                <action android:name="android.appwidget.action.APPWIDGET_UPDATE" />
            </intent-filter>

            <meta-data
                android:name="android.appwidget.provider"
                android:resource="@xml/widget_moon" />
        </receiver>
        <receiver
            android:name=".widget.MoonPhaseWidget"
            android:label="Sundroid Moon Phase"
            android:process=":widgetProcess">
            <intent-filter>
                <action android:name="android.appwidget.action.APPWIDGET_UPDATE" />
            </intent-filter>

            <meta-data
                android:name="android.appwidget.provider"
                android:resource="@xml/widget_moon_phase" />
        </receiver>
        <receiver
            android:name=".widget.SunMoonWidget"
            android:label="Sundroid Sun &amp; Moon"
            android:process=":widgetProcess">
            <intent-filter>
                <action android:name="android.appwidget.action.APPWIDGET_UPDATE" />
            </intent-filter>

            <meta-data
                android:name="android.appwidget.provider"
                android:resource="@xml/widget_sun_moon" />
        </receiver>

        <service
            android:name=".widget.service.WidgetUpdateService"
            android:permission="android.permission.BIND_JOB_SERVICE"
            android:process=":widgetProcess" />

        <meta-data
            android:name="com.google.android.maps.v2.API_KEY"
            android:value="${GOOGLE_MAPS_API_KEY}"/>

    </application>

</manifest>