<manifest xmlns:android="http://schemas.android.com/apk/res/android"
          package="uk.co.sundroid"
          android:installLocation="internalOnly">

    <supports-screens
            android:smallScreens="false"
            android:normalScreens="true"
            android:largeScreens="true"
            android:xlargeScreens="true"/>

    <uses-feature android:glEsVersion="0x00020000" android:required="true" />
    <supports-gl-texture android:name="GL_OES_compressed_ETC1_RGB8_texture"/>
    <permission android:name="uk.co.sundroid.permission.MAPS_RECEIVE" android:protectionLevel="signature"/>

    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION"/>
    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION"/>

    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED"/>
    <uses-permission android:name="android.permission.VIBRATE"/>
    <uses-permission android:name="android.permission.WAKE_LOCK"/>
    <uses-permission android:name="android.permission.DISABLE_KEYGUARD"/>

    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>
    <uses-permission android:name="com.google.android.providers.gsf.permission.READ_GSERVICES"/>
    <uses-permission android:name="uk.co.sundroid.permission.MAPS_RECEIVE"/>

    <application android:allowBackup="true"
                 android:label="@string/app_name"
                 android:icon="@mipmap/icon"
                 android:theme="@style/SundroidDark"
                 android:hardwareAccelerated="true">

        <activity android:name="uk.co.sundroid.activity.data.DataActivity" android:label="@string/app_name" android:launchMode="singleTask" android:finishOnTaskLaunch="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name="uk.co.sundroid.activity.data.RealDataActivity"/>
        <activity android:name="uk.co.sundroid.activity.location.SearchActivity" android:configChanges="orientation|keyboardHidden|screenSize"/>
        <activity android:name="uk.co.sundroid.activity.location.CoordsActivity" android:configChanges="orientation|keyboardHidden|screenSize"/>
        <activity android:name="uk.co.sundroid.activity.location.MapActivity" android:configChanges="orientation|keyboardHidden|screenSize"/>
        <activity android:name="uk.co.sundroid.activity.location.SavedLocationsActivity"/>
        <activity android:name="uk.co.sundroid.activity.location.LocationSelectActivity"/>
        <activity android:name="uk.co.sundroid.activity.location.TimeZonePickerActivity"/>
        <activity android:name="uk.co.sundroid.activity.info.InfoActivity"/>
        <activity android:name="uk.co.sundroid.activity.settings.AppSettingsActivity"/>

        <meta-data
                android:name="com.google.android.maps.v2.API_KEY"
                android:value="${GOOGLE_MAPS_API_KEY}"/>

    </application>

</manifest>